*{
    margin: 0;
    padding: 0;
    font-size: 16px;
}

.topbar{
    width: 100%;
    height: auto;
    background-color: black;
    color: white;
    text-align: center;
    font-size: 1rem;
}

.navbar{
    display: flex;
    border: 1px solid red;
}

.navbar__logo {
    padding-top: 2rem;
    border: 1px solid blue;
}

.navbar__logo a{
    text-decoration: none;
    color: black;
    font-size: 1.8rem;
    font-weight: bolder;
}

